body {
    background-color: rgba(2, 0, 0, 0.801);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* navigation bar */
.navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #ffffff;
    color: rgba(110, 51, 51, 0.801);
}

/* flexbox*/
#main-content {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.left-column {
    width: 40%;
}

.right-column {
    width: 60%;
}

/* profile*/
.profile-box {
    text-align: left;
    background-color: #fcfcfc;
    padding: 15px 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #000000;
}

.profile-box h2 {
    margin: 10px 0 5px 0;
}

.job-title {
    color: #000000;
    font-style: italic;
}

/* overall box style */
.section-box {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 7px;
    margin-top: 20px;
}

/* contact*/
.contact-box p, .contact-box a {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 15px;
}

.contact-box a {
    text-decoration: none;
    color: #0072dd; 
}

.contact-box a:hover {
    color: #5f0101;
}

/* skills */
.skills-box dl {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.skills-box dd {
    margin-left: 20px;
    list-style-type: disc;
}

.skills-box ul {
    padding-left: 20px;
}

.skills-box li {
    margin-bottom: 5px;
}

/* about me*/
.about-box p {
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

/* message form */
.message-form input[type="text"],
.message-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #888;
}

.message-form input[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #7a3a3a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.message-form input[type="submit"]:hover {
    background-color: #4b2323;
}

/* footer*/
footer {
    text-align: center;
    background-color: #F9F8F6;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

/*experience section*/ 
.experience-box {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 7px;
    margin-top: 20px;
}

.experience-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;
}

.experience-box p {
    color: #000000;
    line-height: 1.6;
    text-align: justify;
    margin: 10px 0;
}
